#####################################################################
#	Nevermore Control
#####################################################################


[output_pin nevermore]
##  Chamber Lighting - In E1 Position
pin: PC8
pwm: true
value: 0.0
shutdown_value: 0
cycle_time: 0.00004


#####################################################################
#  Macros
#####################################################################
[gcode_macro _NEVERMORE_ON]
description: Helper: Nevermore on
gcode:
  SET_PIN PIN=nevermore VALUE={printer['gcode_macro _USER_VARIABLE'].nevermore_on}
  {action_respond_info("Nevermore on")}
    
[gcode_macro _NEVERMORE_OFF]
description: Helper: Nevermore off
gcode:
  SET_PIN PIN=nevermore VALUE=0.0
  {action_respond_info("Nevermore off")}

[gcode_macro Nevermore]
description: Toggle Nevermore
gcode:
  {%if printer['output_pin nevermore'].value == 0 %}
    _NEVERMORE_ON
  {% else %}
    _NEVERMORE_OFF
  {% endif %}
  
#####################################################################
# 	Display Menu definition                                        #
#####################################################################
[menu __main __control __nevermoreonoff]
type: input
enable: {'output_pin nevermore' in printer}
name: Nevermore: {'ON ' if menu.input else 'OFF'}
input: {printer['output_pin nevermore'].value}
input_min: 0
input_max: 1
input_step: 1
gcode:
    {% if menu.input %}
      _NEVERMORE_ON
    {% else %}
      _NEVERMORE_OFF
    {% endif %}