#####################################################################
#    Z Calibration
#####################################################################
[z_calibration]
#   The X and Y coordinates (in mm) for clicking the nozzle on the
#   Z endstop.
probe_nozzle_x: 119        # 229 rechte seite
probe_nozzle_y: 347
#   The X and Y coordinates (in mm) for clicking the probe's switch
#   on the Z endstop.
probe_switch_x: 123        # 233 rechte seite
probe_switch_y: 329
probe_bed_x: 175
probe_bed_y: 180
#   The trigger point offset of the used mag-probe switch.
#   This needs to be fined out manually. More on this later
#   in this section..
switch_offset: 0.50         #higher = lower nozzle
#   The maximum allowed deviation of the calculated offset.
#   If the offset exceeds this value, it will stop!
#   The default is 1.0 mm.
max_deviation: 1.5
clearance: 15         # 7.5
#position_min: default from "stepper_z:position_min" section.
#   The moving speed in X and Y. The default is 50 mm/s.
speed: 200
#   Speed (in mm/s) of the Z axis when lifting the probe between
#   samples and clearance moves. The default is from the probe's
#   configuration.
probing_first_fast: true
#   If true, the first probing is done faster by the probing speed.
#   This is to get faster down and the result is not recorded as a
#   probing sample. The default is false.
start_gcode: DETACH_PROBE
#   A list of G-Code commands to execute prior to each calibration command.
#   See docs/Command_Templates.md for G-Code format. This can be used to
#   attach the probe.
before_switch_gcode: ATTACH_PROBE
#   A list of G-Code commands to execute prior to each probing on the
#   mag-probe. See docs/Command_Templates.md for G-Code format. This can be
#   used to attach the probe after probing on the nozzle and before probing
#   on the mag-probe.
end_gcode: DETACH_PROBE
#   A list of G-Code commands to execute after each calibration command.
#   See docs/Command_Templates.md for G-Code format. This can be used to
#   detach the probe afterwards.

#####################################################################
## With these settings, the probe is attached after probing the nozzle
## and before probing the switch !!
#####################################################################
## Otherwise, starting with the probe attached would be like this:
#start_gcode: ATTACH_PROBE
#before_switch_gcode: ATTACH_PROBE
#end_gcode: DETACH_PROBE
#####################################################################

#####################################################################
#    Macros
#####################################################################

[gcode_macro CALIBRATE_Z]
description: Automatically calibrates the nozzles offset to the print surface and dock/undock MagProbe 
rename_existing: CALIBRATE_Z_BASE
gcode:
  ##### get user defines  #####
  {% set z_hop = printer['gcode_macro _USER_VARIABLE'].z_hop|float %}
  #####  get hardware enables  #####
  {% set ena_mag_probe = printer['gcode_macro _USER_VARIABLE'].mag_probe|lower %}
  ##### get toolhead parameters #####
  {% set act_z = printer.gcode_move.gcode_position.z|float %}
  #### end of definitions #####
  {% if ena_mag_probe == 'true' %}
    {% if act_z < z_hop %}
      G90 ; absolute positioning
      {action_respond_info("CALIBRATE_Z: High must be above %.2f" % z_hop)}
      G1 Z{z_hop} F900 ; move head up
    {% endif %}
    _SET_CURRENT VAL=HOME   ; reduce Z current
    CALIBRATE_Z_BASE
    _SET_CURRENT            ; set Z current back to cfg value
  {% endif %}


###################################################################
#        !!! Caution !!!
#
# This Macro is only needed if not using the start/end_gcode 
# properties to attach/detach the probe
###################################################################
#[gcode_macro CALIBRATE_Z]
#description: Automatically calibrates the nozzles offset to the print surface and dock/undock MagProbe 
#rename_existing: CALIBRATE_Z_BASE
#gcode:
#  ##### get user defines  #####
#  {% set z_hop = printer['gcode_macro _USER_VARIABLE'].probe_z_min|float %}
#  ##### get toolhead parameters #####
#  {% set act_z = printer.gcode_move.gcode_position.z|float %}
#  #### end of definitions #####
#  ## reduce current of motors
#  _SET_ACC VAL=HOME
#  _SET_CURRENT VAL=HOME
#  _CG28 RESET_SETTINGS=false
#  {% if act_z < z_hop %}
#    G90 ; absolute positioning
#    {action_respond_info("CALIBRATE_Z: High must be above %.2f" % z_hop)}
#    G1 Z{z_hop} F900 ; move head up
#  {% endif %}
#  #ATTACH_PROBE
#  CALIBRATE_Z_BASE
#  #DETACH_PROBE 
#  {% if params.RESET_SETTINGS|default('true') == 'true' %}
#    ## return to org current settings
#    _SET_CURRENT
#    _SET_ACC
#  {% endif %}

